<ion-view>
    <ion-nav-title>ข้อมูลผู้ใช้</ion-nav-title>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="help color-green">
        <!-- FIRST SECTION -->
        <div class="card">
            <div class="row">
                <div class="col text-center">
                    <img src="img/guide/1.jpg" style="width: 30%; margin: 0 auto;">
                    <h3 class="color-green help-heading text-center" style="margin-top: 20px;">ค้นหาสถานที่รวดเร็ว</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="color-green">1. กด <img src="img/guide/2.jpg" style="width: 10%;"></h4>
                    <h4 class="color-green">2. ใส่วันที่และเวลาในการจองและคลิกค้นหา</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/3.png" style="width: 80%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                    <h4 class="color-green">3. เลือกสถานที่ ที่คุณชื่นชอบแล้วกดเลือก</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/9.jpg" style="width: 70%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                    <h4 class="color-green">4. ตรวจสอบรายละเอียดก่อนยืนยันการจอง</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/10.jpg" style="width: 70%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="color-green"><i class="ion-star"></i> สามารถเพิ่มรายละเอียดในการค้นหาสถานที่</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-90">
                    <img src="img/guide/4.png" style="width: 95%;">
                </div>
                <h4 class="color-green text-center" style="margin-top: 80px; margin-left: -100px;">คลิกที่นี่เพื่อเพิ่มรายละเอียด</h4>
            </div>
        </div>
        <hr class="color-green sp-line">
        <!-- SECOND SECTION -->
        <div class="card">
            <div class="row has-header">
                <div class="col text-center">
                    <img src="img/guide/5.jpg" style="width: 30%;">
                    <h3 class="color-green help-heading text-center">ดูข้อมูลสถานที่และสามารถจองสถานที่ ที่คุณชื่นชอบได้</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="color-green">1. กด <img src="img/guide/6.jpg" style="width: 10%;"></h4>
                    <h4 class="color-green">2. เลือกดูข้อมูลของสถานที่ ที่น่าสนใจ</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/11.png" style="width: 70%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                    <h4 class="color-green">2.1 จัดเรียงสถานที่ตามความต้องการ</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-90">
                            <img src="img/guide/7.png" style="width: 115%;">
                        </div>
                        <h4 class="color-green text-center" style="margin-top: 100px; margin-left: -100px;">คลิกที่นี่และเลือก</h4>
                    </div>
                    <h4 class="color-green">2.2 เลือกเพิ่มชื่อสถานที่เพื่อค้นหาสถานที่ ที่คุณต้องการ</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-90">
                            <img src="img/guide/8.png" style="width: 90%;">
                        </div>
                        <h4 class="color-green text-center" style="margin-top: 90px; margin-left: -100px;">คลิกที่นี่เพื่อพิมพ์ชื่อสถานที่ ที่ต้องการ</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr class="color-green sp-line">
        <!-- THIRD SECTION -->
        <div class="card">
            <div class="row">
                <div class="col text-center">
                    <img src="img/guide/5.jpg" style="width: 30%; margin: 0 auto;">
                    <h3 class="color-green help-heading text-center" style="margin-top: 20px;">ตรวจสอบตารางเวลาของสถานที่</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="color-green">1. กด <img src="img/guide/6.jpg" style="width: 10%;"></h4>
                    <h4 class="color-green">2. เลือกสถานที่ที่ต้องการเพื่อดูตาราง</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/11.png" style="width: 70%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                    <h4 class="color-green">3. ท่านสามารถดูรายละเอียดของสถานที่ได้ตามต้องการ</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-90">
                            <img src="img/guide/section-3-2.png" style="width: 95%; margin: 0 auto;">
                        </div>
                        <h4 class="color-green text-center" style="margin-top: 40px; margin-left: -100px;">คลิกที่นี่เพื่อดูตาราง</h4>
                    </div>
                    <h4 class="color-green">4. ตรวจสอบเวลาได้ตามต้องการโดยเลือกดูตามตาราง</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-90">
                            <img src="img/guide/section-3-3.png" style="width: 65%; margin: 0 auto;">
                        </div>
                        <h4 class="color-green text-center" style="margin-top: 50px; margin-left: -80px;">เลื่อนขึ้นหรือเลื่อนลงเพื่อดูตาราง</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr class="color-green sp-line">
        <!-- FOURTH SECTION -->
        <div class="card">
            <div class="row has-header">
                <div class="col text-center">
                    <img src="img/guide/section-4-1.png" style="width: 30%;">
                    <h3 class="color-green help-heading text-center">ตรวจสอบสถานที่ที่คุณจองไว้</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="color-green">1. กด <img src="img/guide/section-4-1.png" style="width: 10%;"></h4>
                    <h4 class="color-green">2. ตรวจสอบรายละเอียดของสถานที่ ที่คุณกำลังจอง</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-90">
                            <img src="img/guide/section-4-2.png" style="width: 90%; margin: 0 auto;">
                        </div>
                        <h4 class="color-green text-center" style="margin-top: 100px; margin-left: -100px;">คลิกที่นี่เพื่อดูรายการ</h4>
                    </div>
                    <h4 class="color-green">3. ตรวจสอบสถานที่ที่ท่านจอง</h4>
                    <div class="row">
                        <div class="col col-10"></div>
                        <div class="col col-80">
                            <img src="img/guide/section-4-3.png" style="width: 70%; margin: 0 auto;">
                        </div>
                        <div class="col col-10"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>