<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <!--<img src="img/logo/logo_2.png" class="home-logo button button-icon">-->
        <button class="button button-icon">Book Field</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="true" class="home">
        <div class="padding">
            <div class="home-container">
                <div class="row row-no-padding">
                    <a ng-href="#/app/search" class="col col-50 arena-one button button-icon btn-touch" transitiontype="fade" direction="left" go-native>
                        <div class="text-center">
                            <div class="row">
                                <img src="img/icon/arena.png">
                            </div>
                            <div class="text-center">
                                <h4 class="optionText colour-bold">ค้นหาพื้นที่</h4></div>
                        </div>
                    </a>
                    <a ng-href="#/app/currentbooked" class="col col-50 arena-one button button-icon btn-touch" transitiontype="fade" direction="left" go-native>
                        <div class="text-center">
                            <div class="row">
                                <img src="img/icon/date.png">
                            </div>
                            <div class="text-center">
                                <h4 class="optionText colour-bold">การสมัครรับข้อมูลของฉัน</h4></div>
                        </div>
                    </a>
                </div>
                <div class="row row-no-padding ">
                    <a ng-href="#/app/pitches" class="col col-50 arena button button-icon btn-touch" transitiontype="fade" direction="left" go-native>
                        <div class="text-center">
                            <div class="row">
                                <img src="img/icon/arenainfo.png">
                            </div>
                            <div class="text-center">
                                <h4 class="optionText colour-bold">ข้อมูลสถานที่</h4></div>
                        </div>
                    </a>
                    <a ng-href="#/app/help" class="col col-50 col-center arena button button-icon btn-touch" transitiontype="fade" direction="left" go-native>
                        <div class="text-center">
                            <div class="row row-center">
                                <img src="img/icon/help.png" class="profile">
                            </div>
                            <div class="text-center">
                                <h4 class="optionText colour-bold text-center">คู่มือผู้ใช้</h4></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row row-no-padding home-slide">
                <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
                    <ion-slide>
                        <img src="http://booking.asongkai.com/uploads/homeslide/home-slide1.jpg" height="100%" width="100%" style="width: 100%">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://booking.asongkai.com/uploads/homeslide/home-slide2.jpg" height="100%" width="100%" style="width: 100%">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://booking.asongkai.com/uploads/homeslide/home-slide3.jpg" height="100%" width="100%" style="width: 100%">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://booking.asongkai.com/uploads/homeslide/home-slide4.jpg" height="100%" width="100%" style="width: 100%">
                    </ion-slide>
                    <ion-slide>
                        <img src="http://booking.asongkai.com/uploads/homeslide/home-slide5.jpg" height="100%" width="100%" style="width: 100%">
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>
</ion-view>