<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">เข้าสู่ระบบ</h1>
    </div>
    <ion-content class="has-header register" scroll="true">
        <div class="row row-center row-no-padding">
            <div class="col col-center register-box">
                <div class="card">
                    <div class="item item-text-wrap">
                        <form name="registerForm" novalidate class="register-box">
                            <div class="row row-no-padding input-phone">
                                <div class="col col-center">
                                    <h1 class="title-heading color-white">ลงทะเบียนเพื่อจองสถานที่</h1>
                                    <label class="item item-input color-white">
                                        <span class="input-label color-white label-phone"><i class="icon ion-ios-telephone-outline"></i> +856 20</span>
                                        <input type="number" class="phone-number color-white" ng-model="register.phone" name="phone" required>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-10">
                                </div>
                                <div class="col col-80">
                                    <button ng-disabled="registerForm.phone.$invalid" ng-enabled="registerForm.phone.$valid" type="button" ng-click="customerRegistration(register)" class="register-btn button button-full icon-right ion-chevron-right">
                                        ลงทะเบียน
                                    </button>
                                </div>
                                <div class="col col-10">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>