<ion-modal-view>
  <ion-header-bar>
     <h1 class = "title">เลือกสถานที่</h1>
  </ion-header-bar>

  <ion-content>
    <div class="row list">
        <div class="col">
            <button class="button button-icon button-full icon-right ion-chevron-down item" modal-select="" ng-model="selectedProvince" option-property="name" options="provinces" modal-title="เลือกจังหวัด" has-search="true" on-select="getDistrict(newValue, oldValue)" on-reset="ResetProvince()">
              {{selectedProvince}} 
              <div class="option">
                <h2>{{option.name}}</h2>
              </div>
            </button>
            <button class="button button-icon button-full icon-right ion-chevron-down item" modal-select="" ng-model="selectedDistrict" option-property="name" options="districts" modal-title="เลือกเมือง" has-search="true" on-select="updateDistrict(newValue, oldValue)" on-reset="ResetDistrict()">
              {{selectedDistrict}} 
              <div class="option">
                <h2>{{option.name}}</h2>
              </div>
            </button>
        </div>
    </div> 
    <div class="row">
      <div class="col-50">
      </div>
      <div class="col-50 text-right">
        <button class="button icon icon-right ion-android-search btn" ng-click = "closeModal()">ตัวกรอง</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>